.card {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 60px;
    text-align: center;
    width: 90%;
    align-items: center;
}
.card-body {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-img {
    width: 30%;
    height: 800px;
}

.card-text {
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
