.card {
    background-color: white;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-img {
    border: 5px solid white;
    border-radius: 50%;
    margin-top: calc(-48px - 5px);
    background-color: white;
}

.card-text {
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
